body{
    margin: 0px;
}

.continer-all{
    display: grid;
    grid-template-columns: 1fr;
}
.continer1{
    display: flex;
    justify-content: space-between;
}

.left-side{
    display: flex;
}

.continer1 > .left-side > div {
    padding: 12px;
    text-transform: uppercase;
}
.left-side a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.left-side > div:hover{
    border-bottom: 1px solid black;
}

.left-side a:hover{
    color: black;
}

.rigth-side > div {
    margin-left: 25%;
    margin-top: 1%;
}





.items-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.item-wrapper{
    position: relative;
}

.item-image-background{
    height: 550px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 3px;
}

.item-text-wrapper{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: normal;
    height: 100%;
    text-align: left;
    font-family: "Bitstream Charter";
    padding-left: 10px;
    padding-right: 5px;
    text-indent: 1px;

}

