body{
    background-color: #eeeeee;
    margin: 0px;
}

/* First section */
.continer-all{
    display: grid;
    grid-template-columns: 1fr;
}
.continer1{
    display: flex;
    justify-content: space-between;
}

.left-side{
    display: flex;
}

.continer1 > .left-side > div {
    padding: 12px;
    text-transform: uppercase;
}
.left-side a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.left-side > div:hover{
    border-bottom: 1px solid black;
}

.left-side a:hover{
    color: black;
}

.rigth-side > div {
    margin-left: 25%;
    margin-top: 1%;
}

/*second section*/

.grid{
       width: 600px;
       height: 480px;
       margin: 0 auto;
       background-color: #ffffff;
       padding: 10px 50px 50px 50px;
       border-radius: 50px;
       border: 2px solid #cbcbcb;
       box-shadow: 10px 15px 5px #cbcbcb;
   }

.grid h1{
    font-family: "aakar";
    background-color: #57636e;
    font-size: 50px;
    text-align: center;
    color: #ffffff;
    padding: 2px 0px;
    padding-bottom: 1px;
    border-radius: 50px;
}

.grid #deat {
    font-family: "aakar";
    background-color: #229977;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    padding: 10px 0px;
    padding-bottom: 1px;
    border-radius: 50px;

}